<!DOCTYPE html>
<html lang="en" ng-app="PromiseDemo">
<head>
    <meta charset="utf-8">
    <title>Promises Demo</title>

    <script type="text/javascript" src="/js/underscore-min.js"></script>
    <script type="text/javascript" src="/js/angular.min.js"></script>
    <script type="text/javascript" src="/js/app.js"></script>
</head>
<body>
    <section ng-controller="MainCtrl">
        <header><h2>Assignment Scores - {{ roster.name }}</h2></header>
        <div class="content">
            <ul>
                <li ng-repeat="student in roster.students | orderBy:'name'">
                    <h5>{{ student.name }} ({{ student.id }})</h5>
                    <ul>
                        <li ng-repeat="assignment in roster.assignments | orderBy:'id'">
                            {{ assignment.name }} : {{ assignment.$getScore(student.id) }}
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <footer><hr>{{ roster.students.length }} total students.</footer>
    </section>
</body>
</html>